/* Global reset-RESET */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
q:before, q:after { content:'"'}
/* The below restores some sensible defaults */
strong { font-weight: bold }
em { font-style: italic }
a img { border: none } /* Gets rid of IE's blue borders */

a:active, a:focus { outline: none; }
/* Style CSS */
br.clear { height: 1px; margin-top: -1px; clear: both; }
.block { display: block; }
ul, ol { list-style-position: inside; }

em.small { font-size: 85%; padding: 2px; }

a { color: #3ea1c2; text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { color: #76bdd4; }
a.external { padding-right: 13px; background: url(../images/external-link.jpg) no-repeat center right; }

.float-left { float: left; }
.float-right { float: right; }

hr { height: 1px; color: #ccc; margin: 20px; }
hr.panel { color: #333; }

h1 { font-size: 36px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 21px; }
h5 { font-size: 18px; }

h1, h2, h3, h4 {
	font-weight: noraml; font-family: "Times New Roman", Times, serif; 
}

/* Form Styling */
input[type=text], input[type=password], textarea, select {
	padding: 9px; border: solid 1px #C9C9C9; outline: 0; font: normal 13px/100% Verdana, Tahoma, sans-serif; width: 200px; margin: 4px;
	background: #FFFFFF url('bg_form.png') left top repeat-x; background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.2) 0px 0px 8px; -moz-box-shadow: rgba(0,0,0, 0.15) 0px 0px 8px; -webkit-box-shadow: rgba(0,0,0, 0.15) 0px 0px 8px;
	border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
select { padding: 8px; }
textarea { width: 400px; max-width: 400px; height: 150px; line-height: 150%; }

input:hover, textarea:hover, select:hover {
	border-color: #C2C2C2;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.2) 0px 0px 8px;
}
input:focus, textarea:focus, select:focus {
	border-color: #82c2e3;
	-webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.25) 0px 0px 8px;
	outline: 0; 
}

select:hover { cursor: pointer; }
option { padding: 0 3px; border-bottom: 1px solid #ededed; }
label { font-weight: normal; color: #bbb; font-size: 17px; }
		label:hover { cursor: pointer; color: #aaa; }
input[type=hidden] { display: none !important; }
input[type=checkbox] { margin: 3px; display: inline !important; }

input[disabled=disabled], input[disabled=disabled]:hover { opacity: 0.5; }
input.longer{width:240px;}
	
/* Small DESC Forms */
.sm-f-select { display: inline; }
.sm-f-select  select { display: inline; padding: 2px; border: 1px solid #4cb1dc; margin: 0 3px; font-size: 10px; width: auto; }
.sm-f-select  small, small.n { border: none; padding: 0; margin: 0; }	
	
#search { width: 210px; }
#change-pw { display: inline; margin: 3px 0 14px 3px; }
#pass1 { float: left; }

#edit-settings input, #edit-settings textarea { display: block }

.int { width: 20px !important; text-align: left; display: inline !important; }

.form-left { width: 48%; float: left; padding-right: 5px; border-right: 1px solid #eee; margin-right: 5px; }
.form-right { width: 44%; float: right; }

td.actions form { display: inline; }
td.actions form input[type=image] { border: none; margin: 1px; }

/* Button/Submit Styling */
input[type=submit], input[type=submit]:visited {
	background: #222 url(../images/overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	border: none;
}
 
input[type=submit]:hover { background-color: #111; color: #fff; }
input[type=submit]:active { top: 1px; }
input[type=submit].small, input[type=submit].small:visited { font-size: 11px}
input[type=submit], input[type=submit]:visited,
input[type=submit].medium, input[type=submit].medium:visited { font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }									  
input[type=submit].large, input[type=submit].large:visited { font-size: 14px; padding: 8px 14px 9px; }			  
input[type=submit].super, input[type=submit].super:visited { font-size: 34px; padding: 8px 14px 9px; }

input[type=submit].green, input[type=submit].green:visited { background-color: #91bd09; }
input[type=submit].green:hover { background-color: #749a02; }
input[type=submit].red, .input[type=submit].red:visited { background-color: #e62727; }
input[type=submit].red:hover { background-color: #cf2525; }
input[type=submit].blue, input[type=submit].blue:visited { background-color: #2981e4; }
input[type=submit].blue:hover { background-color: #2575cf; }

/* Feildset styling */
legend { background: #F8F8F8; border:1px solid #BCBCBC; font-size: 17px; padding: 4px 5px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
fieldset { -webkit-border-radius: 2px 9px 2px 9px; -moz-border-radius: 2px 9px 2px 9px; background: #F8F8F8; border:1px solid #BBBBBB; margin:20px 4px; padding:12px; }

fieldset.none { width: 44%; float: left; border: 1px solid #ddd; padding: 12px; margin: 14px 10px; 
				background: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
	fieldset.none legend { border: 1px solid #ddd; border-bottom: none; padding: 4px 8px; font-size: 14px; 
							background: none; -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; }
	fieldset.none input { display: block; }
	fieldset.none input[type=password], fieldset.none input[type=text] { width: 225px; }
	
fieldset.none fieldset.none{ width: 88%; }

fieldset.wide { width: 93% !important; }
fieldset.wide input { display: inline; margin-right: 10px; }
	
/* Error Messages Styling */
#msg, .msg { border: 2px solid; font-size: 15px; padding: 4px; margin: 3px 0 12px; text-align: center; position: relative; }
	.error { border-color: #a44545 !important; background: #e19d9d; color: white; }
	.success { border-color: #3fa244 !important; background: #a5e9a8; }
	.warning { border-color: #ec9f36 !important; background: #FFD294; }
	.err-close { position: absolute; top: 0; right: 0; color: #444; font-size: 12px; font-style: italic; padding: 1px 3px; background: rgba(255, 255, 255, 0.5); }
		.err-close:hover { color: #222; cursor: pointer; background: rgba(255, 255, 255, 0.7); text-decoration: none; }
	.red { font-weight: bold; padding: 2px 3px; -moz-border-radius: 2px; -webkit-border-radius: 2px; color: white; background: #e19d9d; }		
		.red:hover { cursor: help; }

.tooltip { margin: 1px; padding: 3px; height: 16px; width: 16px; display: inline-block; vertical-align: middle; background: url(../images/tip.png) no-repeat; }

#tooltip { position:absolute; display:none;  padding:5px; width:200px; border-top:4px solid #F9E98E;
		  -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; opacity: 0.95; color: #694c15; font-size: 13px;
		  background:#FBF7AA; border-left:4px solid #F9E98E; border-right:4px solid #F9E98E; border-bottom:4px solid #F9E98E; }
				
/* Page Stlying */
body { color: black; font: 17px; background: url(../images/body-bg.jpg) repeat; }

#header { height: 170px; }
	#h-img { margin: 10px 0 0 40px; }
	#title { color: #fff; font-size: 66px; position: absolute; top: 20px; left: 185px; }
		#title a { color: #fff; }
		#title a:hover { color: #fff; text-decoration: none; }
	#subtitle { position: absolute; top: 82px; left: 185px; color: #eee; font-size: 14px; font-style: italic; border-top: 1px solid #f0f0f0; line-height: 14px; letter-spacing: 0.22px; }

#mc { margin: 0 auto 45px; width: 94%; }

#content { background: #FFFFFF; padding: 15px 20px 10px; border-bottom: 1px solid #bbb; border-right: 1px solid #ccc; }

#content-lower { font-size: 12px; padding: 5px; background: #d7d7d7 url(../images/content-lower.png) repeat-x; border: 1px solid #fdfdfd; -moz-border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px; }
	#content-lower a { color: #999; text-decoration: none; text-shadow: 1px 1px 2px #bbb; }
		#content-lower a:hover { color: #777; }

#menu { height: 48px; background: #fff url(../images/nav/blue-repeat.png) repeat-x; }

/* Navigartion Styling */
#nav { height: 36px; float: left; background: url(../images/nav/blue-corner.png) no-repeat; padding-left: 8px; }
	#nav li { display: block; float: left; margin: 11px 11px 7px 0; font-size: 17px; }
		#nav li.selected  a { background: #fff url(../images/nav/selected-tab.png) repeat-x; opacity: 1; padding: 3px 7px 7px; 
							color: #202020; border-color: #FEFEFE; border-bottom: none; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; }
		#nav li.selected a:hover { opacity: 1; color: #555; }
		#nav li a { opacity: 0.7; color: rgba(193, 218, 236, 1); background: #3f7da8; border: 1px solid #3d83b3; 
					padding: 3px 7px 5px; -moz-border-radius: 5px 5px 0 0; -webkit-border-radius: 5px 5px 0 0; }
		#nav li a:hover { opacity: 0.9; text-decoration: none; color: rgba(255, 255, 255 1); }
	.cdd { position: relative; }
	.cdd a:hover { cursor: default; }
	.cdd:hover { color: #202020; cursor: pointer; }
	/* #nav li.cdd:hover > ul { display: block; } */
	#nav li ul.dd { opacity: 0.98; z-index: 500; position: absolute; top: 25px; display: none; background: #FBFBFB; padding-bottom: 6px; border: 1px solid #bbb; border-top: none; -moz-border-radius: 0 0 9px 9px; -webkit-border-radius: 0 0 9px 9px; }
	#nav li ul.dd:hover { opacity: 1; }
	#nav li ul.dd li { position: relative; padding: 4px; text-indent: 20px; font-size: 18px; margin: 0; float: none; display: block; width: 185px; border-top: 1px solid #fff; border-bottom: 1px solid #ccc; }
	#nav li ul.dd li.selected { background: #d3eafd !important; border-top-color: #e2f1fd; }
	#nav li ul.dd li:hover { background: #fff; }
	#nav li ul.dd li:first-child { border-top: none; }
	#nav li ul.dd li:last-child { border-bottom: none; }
	#nav li ul.dd li  a { background: url(../images/nav-icons-sprite.png) no-repeat top left; display: block; border: none; opacity: 1; color: #222; margin: 1px 6px; }
	#nav li ul.dd li a:hover { color: #000; cursor: pointer; }
	#nav li ul.games-list li { width: 190px; text-indent: 0; } /* Make the list for the games slightly wider */
	#nav li ul.games-list li a { background: none; }
	
	/* Level Two Dropdown */
	#nav li ul.dd li.cdd-2 { position: relative; }
	#nav li ul.dd li.cdd-2 ul.dd-2 { opacity: 0.98; z-index: 500; background: #FBFBFB; border:1px solid #BBBBBB; left:180px; position:absolute; top:7px; }
	
	/* Sprite Information */
	#nav li ul.dd li.n-admins a { background-position: 0 0; } 
	#nav li ul.dd li.n-b3bans a { background-position: 0 -31px; } 
	#nav li ul.dd li.n-adminbans a { background-position: 0 -62px; } 
	#nav li ul.dd li.n-pbss a { background-position: 0 -93px; } 
	#nav li ul.dd li.n-chart a { background-position: 0 -124px; } 
	#nav li ul.dd li.n-chat a { background-position: 0 -155px; } 
	#nav li ul.dd li.n-clients a { background-position: 0 -186px; } 
	#nav li ul.dd li.n-ctime a { background-position: 0 -217px; } 
	#nav li ul.dd li.n-active a { background-position: 0 -248px; } 
	#nav li ul.dd li.n-live a { background-position: 0 -279px; } 
	#nav li ul.dd li.n-me a { background-position: 0 -310px; } 
	#nav li ul.dd li.n-notices a { background-position: 0 -341px; } 
	#nav li ul.dd li.n-pubbans a { background-position: 0 -372px; } 
	#nav li ul.dd li.n-regular a { background-position: 0 -403px; } 
	#nav li ul.dd li.n-tools a { background-position: 0 -434px; } 
	#nav li ul.dd li.n-security a { background-position: 0 -465px; } 
	#nav li ul.dd li.n-settings a { background-position: 0 -496px; } 
	#nav li ul.dd li.n-adminkicks a { background-position: 0 -527px; } 
	#nav li ul.dd li.n-sa a { background-position: 0 -558px; } 
	#nav li ul.dd li.n-world a { background-position: 0 -589px; } 


/* Header User info Styles */
#user-info { float: right; background: url(../images/nav/join.png) no-repeat; height: 48px; padding-left: 85px; }
div.info { width: 170px; float: left; height: 48px; background: url(../images/nav/white-side.png) repeat-x; padding-top: 3px; }
	div.info span { display: block; float: left; }
	.gravatar { border: 1px solid #ccc; padding: 1px; margin: 3px; display: block; }
	.display-name { color: #888; padding: 2px 3px 0; font-size: 17px; }
	.last-seen { color: #ccc; font-size: 11px; padding: 2px 3px; }
div.log-cor { width: 100px; text-align: right; float: right; height: 48px; padding-top: 13px;  background: url(../images/nav/white-side-corner.png) no-repeat; }
	.log-cor  a { background: url(../images/nav/logout.png) no-repeat center right; margin: 3px 7px 3px 0; padding: 5px 20px 5px 5px; 
				border-left: 1px solid #ececec; color: #000; font-size: 14px; }
		.log-cor a:hover { color: #226091; text-decoration: none; }

p.last-seen { margin: 20px 0 0; padding: 5px; border-top: 1px solid #ccc; font-size: 14px; color: #333; text-align: center; }

/* Table Styling */
table, td { border: 1px solid #CCC; border-collapse: collapse; font: small/1.5 "Tahoma","Bitstream Vera Sans",Verdana,Helvetica,sans-serif; }
table { width: 100%; border: none; border: 1px solid #CCC; display: table; }
thead th, 
tbody th { background: #FFF url(../images/table-header.png) repeat-x; color: #555; padding: 5px 10px; border-left: 1px solid #CCC; text-align: left; font-weight: bold; }
.desc-img, .asc-img { opacity: 0.5; }
.desc-img:hover, .asc-img:hover { opacity: 0.8; }

tbody tr td { padding: 5px 10px; color: #666; }
tbody tr:hover { background: #FFF url(../images/table-hover.png) repeat; }

tbody tr:hover td { color :#454545; }
tfoot td, 
tfoot th { border-left: none; border-top: 1px solid #CCC; padding: 6px; background: #FFF url(../images/table-foot.png) repeat; color: #666; }
caption { text-align: left; font-size: 20px; padding: 0 10px; color: #333; font-family: Georgia, "Times New Roman", Times, serif; }
	caption small { font-size: 11px; color: #666; margin-left: 5px; padding-left: 5px; border-left: 1px solid #ccc; font-family: Geneva, Arial, Helvetica, sans-serif; }
	caption .cap-link { float: right; padding: 1px 3px; border: 1px solid #bbb; background: #eee; font-size: 15px; }
table a:link { color: #666; border-bottom: 1px dotted #dedede; }
table a:visited { color: #777; }
table a:hover { color: #036; text-decoration: none; }
table a:active { color: #036; }

tr.odd { background: #FFF; }
tr.even { background: #F8F8F8; }
tr.inact { background: #fbeee4 !important; }

tr.table-good:hover, tr.table-error:hover { background: #fff; }
tr.table-good td span, tr.table-error td span { display: block; background: #e19d9d; color: white; font-size: 15px; padding: 3px 8px; border: 2px solid #ae2525; -moz-border-radius: 3px; -webkit-border-radius: 3px; margin: 8px; }
tr.table-good td span { border-color: #3fa244 !important; background: #a5e9a8 !important; color: #333; }

span.off { color: #ba110d; }
span.on { color: #57b054; }

/* Under the Table and Pagination Styling */
div.under-table { margin: 8px 3px 0; color: #444; }
.num-rows { float: left; font-size: 15px; font-family: "Times New Roman", Times, serif; }
.pages { float: right; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; }
	.page { padding: 3px; background: #fcfcfc; border: 1px solid #ddd; }
		.page:hover { border-color: #bbb; text-decoration: none; color: #000;}
		.current { color: #FF3333 !important; }

/* Footer Styling */
#footer { height: 15px; margin: 10px; }
	#footer p { font-size: 15px; text-align: center; color: #EFEFEF; }
	.copy { float: left; }
		.copy a { color: #fdfdfd; }
	.links { float: right; } 
	.foot-nav {}
		.foot-nav a { color: #EFEFEF; text-decoration: underline; padding: 1px 2px; }
		.foot-nav a:hover { color: #EEE; }
		.foot-nav a:active { color: #D6D6D6; text-decoration: none; }

/* Ban Highlighting Section */
.p-expired { color: #00b800; }
.p-permanent { color: #cb0000; font-weight: bold; }
.p-active { color: #cb7c00; font-weight: bold; }
.p-inactive { color: #666666; font-weight: bold; }

/* Auto Suggest */
#c-search { position: relative; }
#c-s-load { vertical-align: middle; visibility: hidden; }
.load{ background: url(../images/indicator.gif) left no-repeat; }
#result {
	height:20px;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	padding:5px;
	margin-bottom:10px;
	background-color:#FFFF99;
}
.suggestionsBox { border: 1px solid #C9C9C9; left: 39px; position: absolute; top: 38px; width: 220px; z-index: 100; }
.suggestionList ol li { background: #efefef; list-style: none; padding: 5px; border-bottom: 1px dotted #999; color: #444; opacity: 0.95; }
.suggestionList ol li:last-child { border-bottom: none; }
.suggestionList ol li:hover { background-color: #a4c9e5; color: #222; cursor: pointer; opacity: 1; }
#suggest { position:relative; }

/* My Account Page */
label.uname:hover { color: #bbb; }

/* Map Page Styling */
#map-box { margin: 20px auto; border: 1px solid #ddd; width: 801px; }
		
/* Site Admin Styling */
#add-user-form { margin: 0 auto; width: 91%; }
	.left-side { float:left; width:37%; margin: 0 0 10px 30px; }
	.left-side input, .left-side select { display: block; }
	.left-side label, .ip-label { display: block; margin-top: 8px; }
	#add-user-submit, #add-bl-submit { margin: 5px 20px; }

#add-user-form-2 .check-line { margin: 2px 0; padding: 2px 0; border-bottom: 1px solid #efefef; }
	
.action { text-indent: -9999px; padding: 2px !important; border: none; background: none !important; margin: 0 !important; height: 16px; width: 16px; }
	.plus { background: url(../images/add.png) no-repeat !important; }
	.del { background: url(../images/delete.png) no-repeat !important; }

.edit-key-comment { display: none; } /* We'll use JS to show the button since this is an JS enabled only button */
.edit-key-comment:hover { cursor: pointer; }

.perm-check  { padding: 0 20px 0 0; }

.user-table { margin-bottom: 25px; border: none; }
.user-table tbody tr { border-bottom: 1px solid #F4F4F4; }
.user-table tbody tr th { width: 15%; background: none; border: none; text-align: right; }
.user-table tbody tr td { width: 35%; border: none; }

/* Error Styling */
.error-msg { margin: 70px 20px; width: 46%; font-size: 18px; float: right; padding: 20px; border: 2px solid #ae2525; -moz-border-radius: 5px; -webkit-border-radius: 5px; }

/* Registration Styling */
.reg { font-style: italic; margin: 3px 25px 6px; }
#reg-setup { width: 94%; margin: 0 auto; }
#reg-setup label, #reg-setup input { display: block; }
#reg-setup input[type="text"], #reg-setup input[type="password"] { width: 195px; }
#uname-check { float: left; }
.result { display: none; float: left; position: relative; top: 4px; padding: 7px 5px; border: 1px solid #bbb; background: #efefef; 
			font-size: 14px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.r-bad { background: #CB908B; border-color: #BD3F32; color: #fdfdfd; }
.r-good { border-color : #5f9249; background: #9ACA86; }
.loader { display: none; float: left; position: relative; top: 5px; }

/* Permissions Styling */
#perms, #perms tbody tr, #perms tbody tr td  { border: none; }
.perm-td { border-right: 1px solid #ededed !important; }
.perm-td label { font-size: 16px; font-family: georgia; padding-right: 4px; }
.perm-td:last-child { border: none !important; }
.perm-td  .tooltip { float: right; }
#perms-fs { width: auto; float: none; padding: 10px; margin: 3px; }
.chat-cmd { color: blue; font-weight: bold; }
.chat-fh{display:block;width:50%;border-bottom:1px solid #ccc;margin:10px 0 3px;padding-bottom:2px;}
.animate:hover{background-image:none;}
